:root {
    font-size: 16px;
    border: medium solid #000000;
    margin: 5px;
}

header, nav, div {
    border: medium solid #000000;
    margin: 5px;
}

header {
    font-size: 5em;
    text-align: center;
    background-image: url("./0819114004.jpg");
}

#side_menu {
    float: left;
}

.content {
    width: 800px;
    float: left;
}

ul {
    width: 200px;
    height: 200px;
}

li a {
    border: medium solid red;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

